@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Boldonse';
}

img {
  max-width: 100%;
  height: auto;
  display: block;
} 